#image {
    margin: 20px;
    text-align: center;
    border-radius: 10cm ;
    max-width: 8cm;
    max-height: 8cm;
}

#next,#prev,#play {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

#next:hover, #prev:hover, #play:hover {
    background-color: #00f0f0;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

#next:active, #prev:active,#play:active {
    background-color: #ffffff;
    transition: color 5s ease-in-out, background-color 0.2s ease-in-out;
}

